
.info #agenda{
    border-style: groove;
    border-radius: 5px;
    max-height: 600px;
    max-width: 500px;
    padding: 10px;
    margin: 5px;
    overflow: scroll;
    float: right;
}

.info #milestones{

}

.info #deliverables{

}

.info .dates{
    font-weight: bold;
    text-decoration: underline;
}

.info .subtitle{
    line-height: 0.5;
}